doctype html
html
    head
        meta(charset="utf-8")
        title 쿠팡!
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="shortcut icon", href="/img/favicon.ico")
        link(rel="icon", href="/img/favicon.ico")
    body
        .top-menu
            .top-menu-container
                ul
                    li
                        a(href='/login') 로그인
                    li
                        a(href='/join.html') 회원가입
                    li
                        a(href='/service_center') 고객센터
        .menu-and-search
            .search-container
                button.category-btn
                    span <br><br><br>카테고리
                .right-side
                    .search
                        a(href='/')
                            img(src='/img/cupangLogo.png',width=174,height=41)
                        .search-box
                            select
                                option 전체
                            input(type="text", name="", placeholder="찾고 싶은 상품을 검색해보세요!")
                            .enter
                        ul.icon
                            li
                                .my-coupang
                                p 마이쿠팡
                            li
                                .shopping-cart
                                p 장바구니
                    ul.menu
                        li
                            a(href='#') 로켓배송
                        li
                            a(href='#') 로켓프레시
                        li
                            a(href='#') 로켓직구
                        li
                            a(href='#') 골드박스
                        li
                            a(href='#') 정기배송
                        li
                            a(href='#') 이벤트/쿠폰
                        li
                            a(href='#') 기획전
                        li
                            a(href='#') 여행/티켓
        .main-slide
            img(src='/img/thumbnail1.jpg')
            .layout
                ul.slide-menu
                    li a
                    li b
        .merchandise
        .notification
            .layer1
                ul.menu
                    li
                        a(href="#") 회사소개
                    li
                        a(href="#") 인재채용
                    li
                        a(href="#") 입점 / 제휴문의
                    li
                        a(href="#") 공지사항
                    li
                        a(href="#") 고객의 소리
                    li
                        a(href="#") 이용약관
                    li
                        a(href="#")
                            strong 개인정보 처리방침
                    li
                        a(href="#") 쿠팡페이 이용약관
                    li
                        a(href="#")
                            strong 쿠팡페이 개인정보처리방침
                    li
                        a(href="#") 신뢰관리센터
                    li
                        a(href="#") 제휴마케팅
                    li
                        a(href="#") 광고안내
            .layer2
                ul.content
                    li
                        a(href="/")
                            .coupang-logo
                    li
                        p
                            쿠팡(주) | 대표이사 : 강한승,박대준
                            <br>서울시 송파구 송파대로 570
                            <br>사업자 등록번호 : 120-88-00767
                            <br>통신판매업신고 : 2017-서울송파-0680
                            <br>
                            a(href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1208800767") 사업자정보 확인 >
                    li
                        p
                            strong 365고객센터
                            span | 전자금융거래분쟁처리담당
                            <br>
                            em.big 1577-7011
                            서울시 송파구 송파대로 570
                            <br>email : help@coupang.com
                    li
                        p
                            strong 우리은행 채무지급보증 안내
                            span.bank-note <br>당사는 고객님이 현금 결제한 금액에 대해<br>우리은행과 채무지급보증 계약을 체결하여<br>안전거래를 보장하고 있습니다.
                            <br>
                            a(href="") 서비스 가입사실 확인 >
            .layer3
                .certificate
        .footer
            .footer-container
                p 사이버몰 내 판매되는 상품 중에는 쿠팡에 등록한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
                    <br>마켓플레이스(오픈마켓) 상품의 경우 쿠팡은 통신판매중개자이며 통신판매의 당사자가 아닙니다.
                    <br>쿠팡은 마켓플레이스(오픈마켓) 상품, 거래정보 및 거래 등에 대하여 책임을 지지 않습니다.
                    <br>쿠팡은 소비자 보호와 안전거래를 위해 신뢰관리센터(CM112@coupang.com)를 운영하고 있으며, 관련 분쟁이 발생할 경우 별도의 분쟁 처리절차에 의거 분쟁이 처리됩니다.
                    <br>Copyright © Coupang Corp. 2010-2020 All Rights Reserved.
                ul.sns
                    li
                        a(href='https://www.facebook.com/Coupang.korea',target='_blank').facebook 페이스북
                    li
                        a(href='https://www.facebook.com/Coupang.korea',target='_blank').blog 블로그
                    li
                        a(href='https://www.facebook.com/Coupang.korea',target='_blank').insta 인스타